# Nuxt
.output/
.nuxt/
node_modules/
dist/

# Runtime data
data/lifeos.db
data/lifeos.db-shm
data/lifeos.db-wal
data/photos/

# Test artifacts
test-results/

# Env
.env
.env.local
.env.production

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.superpowers/brainstorm/73580-1778918735/content/design-directions.html
.superpowers/brainstorm/73580-1778918735/state/server-info
.superpowers/brainstorm/73580-1778918735/state/server.log
.superpowers/brainstorm/73580-1778918735/state/server.pid
.superpowers/brainstorm/77411-1778919357/content/components.html
.superpowers/brainstorm/77411-1778919357/content/design-details.html
.superpowers/brainstorm/77411-1778919357/content/layout-dashboard.html
.superpowers/brainstorm/77411-1778919357/content/prototype-dashboard.html
.superpowers/brainstorm/77411-1778919357/content/prototype-food-detail.html
.superpowers/brainstorm/77411-1778919357/content/prototype-food-list.html
.superpowers/brainstorm/77411-1778919357/content/waiting.html
.superpowers/brainstorm/77411-1778919357/state/server-stopped
.superpowers/brainstorm/77411-1778919357/state/server.log
.superpowers/brainstorm/77411-1778919357/state/server.pid
